.c-navbar{
    &__list{
        display: flex;
        list-style: none;
        padding: 0;
        overflow-x: scroll;
        @include hide-scrollbar;
    }
    &__item{
       flex-shrink: 0;
    }
    &__link{
        padding: 14px 16px;
        margin-right: 9px;
        margin-left: 9px;
       @include hover-line;
    }
}