
.page-ticket{
    .ticket-img{
        background-image: url('../images/ex-img-3.jpg');
        height: 256px;
    }
    .ticket-checkout{
        @include mq(md){
            height: 256px;
        }
    }
    .ticket-link{
        @include hover-line(0px);
    }
    .exibition-image1{
       height: 400px;
    }
    .exibition-image2{
       height: 599px;
    }
}