.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-cover{
    object-fit: cover;
}
.text-hide{
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
}

.write-vertical{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr  
}