
@mixin hide-scrollbar{
    &::-webkit-scrollbar{
      display: none;
    }
    &{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }
}

@mixin hover-line($bottom: 10px){
    position: relative;
    &::before{
        opacity: 0;
        content: "";
        position: absolute;
        left: 0;
        bottom: $bottom;
        right: 0;
        height: 1px;
        background-color: $primary-light;
        transition: $transition-base;
    }
    &:hover::before{
        opacity: 1;
    }
}